<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <!-- Container wrapper -->
  <div class="container-box">

    <!-- Collapsible wrapper -->
    <div class="row">

        <div class="bitly mt-2">
          <img src="../../../assets/image/bitly.png" width="90px" alt="">
        </div>

        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
          <!-- Left links -->


          <ul class="navbar-nav mb-2 mt-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Why Bitly?</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Pircing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Resources</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>

        <div class="justify-content-end">
          <!-- Left links -->
          <ul class="navbar-nav mb-2 mt-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Log in</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Sign up Free</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" href="#">Get a Quote</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
    </div>

    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>